<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.style.lib.imagecrop">

    <application>
        <activity
            android:name="tech.gaolinfeng.imagecrop.lib.ImageCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
