<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.style.lib.media.video">

    <application>
        <activity
            android:name=".PlayVideoActivity"
            android:theme="@style/LibVideoRecordTheme" />
        <activity android:name=".VideoRecordOldActivity" />
        <activity
            android:name="com.style.lib.media.camera2video.Camera2Activity"
            android:theme="@style/LibVideoRecordTheme" />

    </application>

</manifest>
