<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.style.framework">

    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!--粗略位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--精确位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.style.app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:allowBackup,android:icon,android:label,android:supportsRtl,android:theme">
        <activity android:name="example.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="example.home.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name="example.activity.MyRadioGroupActivity" />
        <activity android:name="example.dialog.DialogActivity" />
        <activity android:name="example.album.SelectLocalPictureActivity" />
        <activity android:name="example.address.AddressActivity" />
        <activity
            android:name="example.gesture.TestGestureActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="example.gesture.DispatchGestureActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity android:name="example.gesture.SimpleGestureActivity" />

        <activity android:name="example.drag.DragActivity" />
        <activity android:name="example.activity.AnimatorActivity" />
        <activity android:name="example.activity.ReadAssetsActivity" />
        <activity android:name="example.dialog.WheelActivity" />
        <activity android:name="example.filedown.FileDownActivity" />
        <activity android:name="example.web.WebViewActivity" />
        <activity android:name="example.web.WebViewFeedbackActivity" />
        <activity android:name="example.web.WebViewAndJSActivity" />
        <activity android:name="example.vlayout.MultiTypeActivity" />
        <activity android:name="example.media.VideoTestActivity" />
        <activity android:name="example.media.AudioRecordActivity" />
        <activity android:name="example.media.socket.chat.SocketTestActivity" />
        <activity android:name="example.media.video.LocalVideoActivity" />
        <activity android:name="example.media.video.VideoRecorderActivity" />

        <activity android:name="example.ble.BlueToothActivity" />
        <activity android:name="example.ble.BLEActivity" />

        <service android:name="example.ble.BleService" />

        <activity android:name="example.wifi.WifiTestActivity" />

        <activity android:name="example.queue.QueueTestActivity" />
        <activity android:name="example.activity.DataBindingActivity" />
        <activity android:name="example.activity.MsgToSubActivity" />
        <activity android:name="example.ndk.JniTestActivity" />
        <activity android:name="example.aidl.AidlActivity" />
        <activity android:name="example.db.EncryptActivity" />

        <activity android:name="example.webservice.WebServiceActivity" />
        <activity android:name="example.activity.TestDBActivity" />
        <activity android:name="example.album.GlideDealActivity" />
        <activity android:name="example.activity.GreenDaoActivity" />
        <activity android:name="example.activity.TestRxActivity" />
        <activity
            android:name="example.softInput.StatusBarStyleMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translucent" />
        <activity
            android:name="example.softInput.SoftMode1Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.Translucent"/>
        <activity
            android:name="example.softInput.SoftMode2Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.Translucent"/>
        <activity
            android:name="example.softInput.SoftMode3Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.Translucent"/>
        <activity
            android:name="example.softInput.SoftMode4Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.Translucent"/>
        <activity android:name="example.customview.activity.CustomViewMainActivity" />
        <activity android:name="example.customview.activity.WriteWordActivity" />
        <activity
            android:name="example.customview.activity.WaterPoloActivity"
            android:label="WaterPolo" />
        <activity
            android:name="example.customview.activity.SoundWaveActivity"
            android:label="SoundWave" />
        <activity
            android:name="example.customview.activity.CustomNotifyViewActivity"
            android:label="CustomNotifyView" />
        <activity
            android:name="example.customview.activity.HorizontalProgressActivity"
            android:label="HorizontalProgressBar" />
        <activity android:name="example.customview.activity.CurveActivity2" />

        <activity
            android:name="example.customview.activity.CircleProgressBarActivity"
            android:label="CircleProgressBar" />
        <activity
            android:name="example.customview.activity.SuspendWindowActivity"
            android:label="SuspendWindow" />
        <activity
            android:name="example.customview.activity.KeyboardActivity"
            android:label="CustomKeyboard" />
        <activity
            android:name="example.customview.activity.ScanViewActivity"
            android:label="ScanView" />
        <activity android:name="fussen.cc.barchart.activity.CustomScrollMainActivity" />
        <activity
            android:name="tech.gaolinfeng.imagecrop.lib.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity android:name="fussen.cc.barchart.activity.ScrollBarActivity" />
        <activity android:name="fussen.cc.barchart.activity.NormalBarActivity" />
        <!-- 语音悬浮服务 -->
        <service android:name="example.customview.service.VoiceSuspendService" />
        <!-- 视频悬浮服务 -->
        <service android:name="example.customview.service.VideoSuspendService" />
        <!-- 来电悬浮服务 -->
        <service android:name="example.customview.service.CallInSuspendService" />


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${ENVIRONMENT}" />

        <activity android:name="example.tablayout.TabLayoutActivity" />
        <activity
            android:name="example.viewpager.ImageScanActivity"
            android:theme="@style/AppTheme.Translucent" />
        <activity android:name="example.viewpager.GlideListActivity" />
        <activity android:name="example.music.MusicListActivity" />
        <!-- exported：是否允许外部应用程序访问，版本为16或者更低时他的默认值是true。如果是17和以上的版本默认值是false。          -->
        <service
            android:name="example.music.PlayMusicService"
            android:exported="false" />
        <activity android:name="example.music.remote.RemotePlayActivity" />
        <service
            android:name="example.music.remote.RemotePlayService"
            android:process="com.offline.message">
            <intent-filter>
                <action android:name="action.remote.play" />
            </intent-filter>
        </service>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--阿里热修复-->
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="24874332" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="fc195ecea3d8d858c497193e0804e134" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="RSA密钥" />
    </application>

</manifest>